:root {
  /* Definindo as variáveis de cor */
  --cor-primaria: #040303; /* Preto de feijão */
  --cor-secundaria: #ffbb3d; /* Borgonha antigo */
  --cor-terciaria: #5c6a7b; /* Azul cadete */
  --cor-quaternaria: #70491a; /* Preto espectral */
  --cor-Dourado: #760f19; /* Marrom dourado */
  --cor-Curry: #9a6b26; /* Curry */
  --cor-Bazar: #9da6ad; /* Bazar */
  --cor-Gunmetal: #2d434e; /* Gunmetal */
  --cor-Pretofumaca: #100e0d; /* Preto esfumaçado */
  --cor-Siena: #70491a; /* Siena crua */
}

body{
  background-image: url(../img/mainback.jpg);
  background-position: 0px;
  background-size: 100%;
}

